html,
body,
#gauge,
#log
{     
    height:100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #000000;
}


#bg{
    height:100%;
    width: 100%;
    position: absolute;
}

#lightning{
    z-index: 1;
    position: absolute;
    height:100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    opacity: 0;
}

#character
{   
    z-index: 2;
    position: absolute;
    height:100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(images/character.png);
}


#gauge{
    font-size: 100px;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    color: #ffffff;
    text-align: center;
}

#gauge div{
    position: absolute;
    top: 50%;
    width: 100%;
}

#ipaddress{
    position: absolute;
    z-index: 4;
    left: 0;
    bottom: 0;
    width: 100%;
}

#ipaddress p{
    color: #ffffff;
    margin: 10px;
}

#ipaddress p a{
    color: #ffffff;
}

#ipaddress input{
    width: 100%;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}


